.bouton{
    text-align: center;
}

.btn-primary{
    width: 30%;
    font-size: 120%;
}

#main{
    display: flex;
    flex-direction: column-reverse;
}

th{
    text-align: center;
}

td{
    text-align: center;
}